<!-- Full-sized-image slide -->
<%
  # default image (in case one hasn't been uploaded yet)
  img_url = 'http://placehold.it/800x400&text=Not%20Set'
  img_url = slide.image.url(:medium) if slide.image.exists?

  # truncate the description
  short = truncate(slide.desc, :length => 80, :separator => ' ', :omission => '... (continued)')
%>
<div class="expand"><%= image_tag(img_url, :style => 'width:100%;height:100%;margin-bottom:-2px') %></div>
<% if slide.desc %>
  <div style="position:absolute;bottom:0;right:0;background:#333;color:#fff;padding:4px 10px;font-weight:normal;font-size:13px">
    <span><%= short %></span>
  </div>
<% end %>
