<!-- Image-on-left slide -->
<%
  # default image (in case one hasn't been uploaded yet)
  img_url = 'http://placehold.it/400x400&text=Not%20Set'
  img_url = slide.image.url(:medium) if slide.image.exists?
%>
<div class="col-left">
  <div class="crop"><%= image_tag(img_url) %></div>
</div>
<div class="col-right">
  <h5><%= slide.title %></h5>
  <div id="slide-datetime">June 30, 2012 at 3:34 p.m. Central</div>
  <div id="slide-desc"><%= slide.desc %></div>
</div>
