<div>
  <div id="current-slide">
    <img src="http://farm6.staticflickr.com/5334/7437114990_bd2c6402e2_b.jpg">
    
    <div id="caption">
      Cras mattis consectetur purus sit amet fermentum. Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo.
    </div>
  </div>
  
  <div id="nav">
    <img src="http://farm6.staticflickr.com/5334/7437114990_bd2c6402e2_s.jpg">
    <img src="http://farm9.staticflickr.com/8154/7437115490_d079711cbd_s.jpg">
    <img src="http://farm6.staticflickr.com/5235/7437115938_e3cb29c1e4_s.jpg">
  </div>
</div>