<div class="five columns panel2">
  <h4>Free</h4>
  
  <ul>
    <li>1 slideshows</li>
    <li>Ad supported</li>
    <li>Basic templates</li>
  </ul>
  
  <a href="#" class="button radius">Sign up</a>
</div>

<div class="six columns offset-by-one panel2">
  <h4>$10/month</h4>
  
  <ul>
    <li>Unlimited slideshows</li>
    <li>No ads</li>
    <li>All templates</li>
  </ul>
  
  <a href="#" class="button radius success">Sign up</a>
</div>