// Place all the styles related to the general application layout here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

body {
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.4;
}

.button { text-shadow: none !important; }

h6 { font-weight: bold; }

ul {
  margin: 0 0 0 1.6em;
}

li {
  list-style: disc;
  padding: 0;
  margin: .2em;

  &#icon-embed {
    background: url(/assets/icons/edit-code.png) no-repeat 0 3px;
  }

  &#icon-editslide {
    background: url(/assets/icons/pencil-small.png) no-repeat 0 3px;
  }

  &#icon-slideshows {
    background: url(/assets/icons/slides.png) no-repeat 0 3px;
  }

  &#icon-facebook {
    background: url(/assets/icons/balloon-facebook-left.png) no-repeat 0 3px;
  }

  &#icon-twitter {
    background: url(/assets/icons/balloon-twitter-left.png) no-repeat 0 3px;
  }

  &#icon-url {
    background: url(/assets/icons/chain.png) no-repeat 0 3px;
  }

  &#icon-date {
    background: url(/assets/icons/calendar-medium.png) no-repeat 0 3px;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #eee;
  margin: 1em 0;
  padding: 0;
}

p {
  font-size: 14px;
  line-height: 1.5;
}

#tagline {
  float: left;
  color: #ccc;
  margin: 1.5em 0 0 1em;
}

div.panel {
  background: #f9f9f9;
  border: 1px solid #eee;
  padding: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

div.panel .columns {
  padding: 0;
}

#main {
  margin-bottom: 4em;
}



/* -----------------------------------------
   Button Style Overrides
----------------------------------------- */

.success {
  text-shadow: 0 1px 0 #666;
}


/* -----------------------------------------
   Header Content
----------------------------------------- */

header {
  background: #444;
  color: #fff;
  font-weight: bold;
  margin-bottom: 2em;

  h3 {
    color: #fff;
    float: left;
    margin: .5em 0;
  }

  a, a:visited {
    color: #fff;
  }

  .login {
    margin: 1em 0;
  }
}



/* -----------------------------------------
   Homepage
----------------------------------------- */

#banner {
  background: #f6f6f6;
  color: #666;
  padding: 20px;
  margin-bottom: 3em;
  text-shadow: 0 1px 0 #fff;
  border: 1px solid #eee;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  
  h3 { 
    color: #444; 
    margin-bottom: .3em;
  }

  #screenshot {
    img {
      margin-bottom: -25px;
    }
  }

  #banner-signup {
    margin-top: 1em;
    
    .button {
      margin-right: 1em;
    }
  }
}

#features {
  margin-bottom: 2em;
  
  h5 { margin-bottom: .3em; }
}

/* -----------------------------------------
   Slideshow Content
----------------------------------------- */

#slideshow-info {
  border: 1px solid #eee;
  border-bottom: 0;
  padding: 20px;

  &:hover #slideshow-actions {
    visibility: visible;
    top: 12px;
    left: 15px;
  }
}

#slideshow-title {
  margin: 0 5px 7px;
}

#slideshow-desc {
  margin: 0 5px;
}


/* -----------------------------------------
   Hide stuff in edit-mode
----------------------------------------- */

.editing #slideshow-actions { visibility: hidden !important; }


/* -----------------------------------------
   Slide Content
----------------------------------------- */

.actions {
  position: absolute;
  left: 0;
  padding: 1em;
  visibility: hidden;
  background: rgba(0,0,0,.7);
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;

  img { width: 12px; }

  a, a:visited {
    padding: .7em 1em;
    background: #666;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    &.edit {
      &:hover {
        background: #ccc;
      }
    }

    &.delete {

      &:hover {
        background: #cc0000;
      }

      img {
        width: 10px;
        margin-bottom: -1px;
      }
    }

    &.new {
      &:hover {
      background: #66cc00;
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    float: left;
  }

  .has-tip {
    border-bottom: 0;
    cursor: pointer;
  }
}

.col-left {
  float: left;
  width: 25%;
  margin-right: 3%;
}

.col-left img {
  max-width: 100%;
}

.col-right {
  float: left;
  width: 72%;
}

#slideshow {
  position: relative;
  background: #f5f5f5;
  border: 1px solid #e7e7e7;
  text-shadow: 0 1px 0 #fff;
  -moz-box-shadow: 0 0 5px #eee;
  -webkit-box-shadow: 0 0 5px #eee;
  box-shadow: 0 0 5px #eee;

  h5 {
    margin: .3em 0 .5em 0;
    font-weight: bold;
  }

  &:hover .slide-actions {
    visibility: visible;
  }
}

.slide-body {
  padding: 20px;
}

.slide-dtim {
  color: #999;
  margin-bottom: 3px;
}

.slide-desc {
  color: #777;
  padding-bottom: 30px;

  a, a:visited {
    font-weight: bold;
  }
}

.crop {
  max-height: 150px;
  overflow: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

#number {
  text-align: center;
  font-size: 12px;
  color: #999;
  padding: 1em;
}



/* -----------------------------------------
   Map
----------------------------------------- */

#map {
  background: #ffff66;
  position: relative;
  clear: both;
  margin: 0 -20px;
  overflow: hidden;
  height: 250px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
}

#map:before {
  max-width: 103%;
  position: absolute;
  content: url(/assets/map-grad-top.png);
  z-index: 9999;
  overflow: hidden;
}


/* -----------------------------------------
   Arrows
----------------------------------------- */

.arrows {
  float: right;
  margin-top: .5em;

  span {
    background: #444;
    padding: 8px 7px 7px;
    color: #ccc;
    text-shadow: none;
    font-size: 13px;
  }

  a, a:visited {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    line-height: 0;
    opacity: 1;
    padding: 7px 15px;
    color: #fff;
    position: relative;

    &:hover {
      opacity: .8;
    }
  }
}

#arrow-left {
  -webkit-border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background: #66cc00;
}

#arrow-right {
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background: #66cc00;
}

#arrow-left:before {
  position: absolute;
  top: 11px;
  left: 10px;
  content: "\2039";
  font-size: 40px;
}

#arrow-right:before {
  position: absolute;
  top: 11px;
  right: 10px;
  content: "\203A";
  font-size: 40px;
}


#credit {
  font-size: 12px;
  padding: 10px 0 0;
  color: #999;
  margin-bottom: -10px;
}

#credit a, #credit a:visited {
  color: #555;
}

#credit span { color: #ddd; }



/* -----------------------------------------
   Slide Edit
----------------------------------------- */

textarea { min-height: 220px; }

#allowed-html {
  margin-bottom: 1em;
  padding: 0 1em;
  font-size: 12px;
  color: #666;
}

/* -----------------------------------------
   Sidebar
----------------------------------------- */

#sidebar {
  overflow: hidden;

  ol { margin: 0;

    li {
    float: left;
    width: 40%;
    background: #f9f9f9;
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 1em;
    list-style-position: inside;

      &:nth-child(odd) {
        margin-right: 1em;
      }
    }
  }

  #share-embed {
    margin: 0 0 3.5em 0;
    padding: 10px;
    border: 1px solid #eee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    li {
      list-style: none;
      padding-left: 20px;
      margin: 0 0 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  #slideshow-edit {
    display: none;
  }
}

#user-profile {
  margin-bottom: 1.5em;

  img {
    float: left;
    max-width: 50px;
    max-height: 50px;
    margin: -.5em 1em 0 .7em;
  }

  h6 {
    margin: 0 0 2px;
  }
}

#links {
  margin: 0 0 0 7px;

  li {
    list-style: none;
    padding-left: 23px;
    margin-bottom: 8px;
  }
}


/* -----------------------------------------
   Make footer sticky
----------------------------------------- */
html, body { height: 100%; }
#body-wrapper { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -60px; }
#footer-push { height: 60px; }
#footer {
  line-height: 59px;
  background: #eee;
  color: #999;
  text-shadow: 0 1px 0 #fff;
  border-top: 1px solid #ddd;
}

/* -----------------------------------------
   Clearfix
----------------------------------------- */

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    *zoom:1;
}
