<!-- Image only slide -->
{{#editing}}
<div class="actions slide-actions">
  <ul>
    <li><a href="#" class="edit has-tip" title="Edit slide image, title and description" data-id="{{id}}"></a></li>
    <li><a href="#" class="delete has-tip" title="Delete this slide"></a></li>
    <li><a href="#" class="new has-tip" title="Add a new slide"></a></li>
  </ul>
</div>
{{/editing}}
<div class="slide-body image-full">
  <div class="crop"><img class="slide-image" src="{{image_url}}"/></div>
</div>
