<!-- Left-aligned image slide -->
{{#editing}}
<div class="actions slide-actions">
  <ul>
    <li><a href="#" class="edit has-tip" title="Edit slide image, title and description" data-id="{{id}}"></a></li>
  </ul>
</div>
{{/editing}}
<div class="slide-body image-left">
  <div class="col-left">
    {{#slideimage}}<div class="crop"><img class="slide-image" src="{{medium_url}}"/></div>{{/slideimage}}
    {{^slideimage}}<div class="crop"><img class="slide-image" src="http://placehold.it/300x200&text=Not%20Set"/></div>{{/slideimage}}
  </div>
  <div class="col-right">
    <h5 class="slide-title">{{title}}</h5>
    <div class="slide-dtim">June 30, 2012 at 3:34 p.m. Central</div>
    <div class="slide-desc">{{desc}}</div>
  </div>
</div>
