<!-- Text only slide -->
{{#editing}}
<div class="actions slide-actions">
  <ul>
    <li><a href="#" class="edit has-tip" title="Edit slide image, title and description" data-id="{{id}}"></a></li>
  </ul>
</div>
{{/editing}}
<div class="slide-body text-only">
  <h5 class="slide-title">{{title}}</h5>
  <div class="slide-dtim">June 30, 2012 at 3:34 p.m. Central</div>
  <div class="slide-desc">{{desc}}</div>
</div>
