<footer id="footer" class="cf">
  <div class="row">
    <div class="twelve columns">
      <div class="eight columns">
        &copy; 2012 American Public Media / <a href="#">About</a> / <a href="#">Contact</a> / <a href="#">Open Source</a>
      </div>
      
      <div class="four columns">
      Proudly built in St. Paul, Minnesota.
      </div>
    </div>
  </div>
</footer>
